@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  /* background-image: url(../Images/background.jpg); */
  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: -1;
}

.main {
  /* position: absolute; */
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
}

.hero {
  margin-top: 100px;
  color: white;
  z-index: 2;
}

.header {
  padding-top: 150px;
}

.bluTxt {
  color: rgba(0,123,255);
  justify-items: center;
}

.imgAbout {  
  border-radius: 10px;
  margin-top: 50px;
  max-width: 35%;
  
}

