body {
  background-image: url(../Images/background.jpg);
  background-color: rgba(red, green, blue, alpha);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

h1 {
  color: green;
}