@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  /* background-image: url(../Images/background.jpg); */
  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  z-index: -1;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* padding-bottom: 400px; */
  z-index: -3;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: -2;
}

.hero {
  margin-top: 100px;
  color: white;
  z-index: 2;
}

.header {
  padding-top: 150px;
}

.bluTxt {
  color: rgba(0,123,255);
  justify-items: center;
}

.about {
  
  position: relative;
}

.aboutPic {
  width: 38%;
  border-radius: 10px;
  position: relative;
  display: inline-block;
}